<template>
  <GoogleMapLoader
    :mapConfig='mapConfig'
    apiKey='AIzaSyDNTGxopn3B8gnWH6sphs8qDsQu0DKXLgQ'
  >
    <template slot-scope='{ google, map }'>
      <GoogleMapMarker
        v-for='marker in markers'
        :key='marker.id'
        :marker='marker'
        :google='google'
        :map='map'
      />
    </template>
  </GoogleMapLoader>
</template>

<script>
import GoogleMapLoader from '@/components/google-map/MapLoader';
import GoogleMapMarker from '@/components/google-map/MapMarker';
import { mapSettings } from '@/constants/mapSettings';

export default {
  name: 'GoogleMap',
  components: {
    GoogleMapLoader,
    GoogleMapMarker,
  },
  data() {
    return {
      markers: [
        {
          id: 'ms01',
          title: 'Acropolis of Athens',
          kind: 'Ancient Place',
          position: { lat: 37.971058, lng: 23.7261356 },
        },
        {
          id: 'ms02',
          title: 'Odeon of Herodes Atticus',
          kind: 'Ancient Place',
          position: { lat: 37.9704902, lng: 23.7248751 },
        },
        {
          id: 'ms03',
          title: 'Acropolis Museum',
          kind: 'Museum',
          position: { lat: 37.9679793, lng: 23.7290324 },
        },
        {
          id: 'ms04',
          title: 'Old Temple of Athena',
          kind: 'Ancient Place',
          position: { lat: 37.9723329, lng: 23.7264991 },
        },
        {
          id: 'ms06',
          title: 'Propylaea',
          kind: 'Ancient Place',
          position: { lat: 37.971484, lng: 23.7253685 },
        },
      ],
    };
  },
  computed: {
    mapConfig() {
      return {
        ...mapSettings,
        center: this.mapCenter,
      };
    },
    mapCenter() {
      return this.markers[1].position;
    },
  },
};
</script>
