<template>
  <div class="article">
    <h1>Article Details</h1>
    <div v-if="isResult">
      <a :href="getLink(wikiObj.pageid)" target="_blank">{{ wikiObj.canonicalurl }}
        <h2>{{ wikiObj.title }}</h2>
      </a>
      <section v-if="wikiObj.categories">
        <h3>Categories</h3>
        <div v-for="category in wikiObj.categories" :key="category.ns">
          <span>{{ category.title }}</span>
        </div>
      </section>
      <section v-if="wikiObj.extlinks">
        <h3>External Links</h3>
        <div v-for="link in wikiObj.extlinks" :key="link">
          <span>{{ link }}</span>
        </div>
      </section>
      <section v-if="wikiObj.extract">
        <h3>Extract</h3>
        <div v-html="wikiObj.extract">
          {{ wikiObj.extract }}
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import ArticlesService from '@/services/ArticlesService';

export default {
  name: 'Article',
  data() {
    return {
      wikiObj: {},
      isResult: false,
    };
  },
  mounted() {
    this.getArticle();
  },
  methods: {
    getLink: id => `http://en.wikipedia.org/?curid=${id}`,
    async getArticle() {
      const id = this.$route.params.id;
      const response = await ArticlesService.getArticleById(id);
      this.wikiObj = response.data;
      this.isResult = true;
    },
  },
};
</script>
