<template>
  <div class="explore">
    <h1>Explore Blues Artist</h1>
    <google-map></google-map>
  </div>
</template>

<script>
import GoogleMap from '@/components/google-map/index';

export default {
  name: 'Explore',
  components: {
    GoogleMap,
  },
};
</script>

<style scoped>
</style>

